---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/services">Services</HeaderLink>
            <HeaderLink href="/podcast">Podcast</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/contact">Contact</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.facebook.com/iamvista" target="_blank" aria-label="Facebook">
				<svg viewBox="0 0 24 24" aria-hidden="true" width="24" height="24" fill="currentColor">
                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg>
			</a>
            <a href="https://www.threads.net/@vista" target="_blank" aria-label="Threads">
				<svg viewBox="0 0 24 24" aria-hidden="true" width="24" height="24" fill="currentColor">
                    <path d="M12.274 2.22c-5.5 0-9.957 4.42-9.957 9.873 0 5.405 4.394 9.796 9.885 9.796 2.508 0 4.888-.934 6.703-2.616l-1.396-1.432a6.953 6.953 0 0 1-5.307 2.057c-3.86 0-7.005-3.08-7.005-6.865 0-3.725 3.09-6.75 6.919-6.75 3.824 0 6.93 3.023 6.93 6.75 0 .942-.204 1.838-.568 2.65-.49 1.096-1.523 1.766-2.67 1.766-.867 0-1.63-.448-1.92-1.16-.182-.45-.224-.967-.116-1.503l.354-2.585a2.588 2.588 0 0 0-2.485-2.923c-1.433 0-2.628 1.154-2.628 2.536 0 1.25.995 2.276 2.223 2.276 1.05 0 1.875-.764 2.094-1.66h2.152c-.52 2.25-2.288 3.51-4.225 3.51-2.488 0-4.38-1.933-4.38-4.35 0-2.433 1.874-4.425 4.37-4.425 2.535 0 4.373 1.932 4.373 4.35 0 1.392-.47 2.72-1.282 3.815-1.127 1.516-3.033 2.195-4.996 2.195-2.825 0-5.328-1.07-7.228-3.097L3.905 5.86c2.252 2.392 5.253 3.655 8.647 3.655 5.8 0 10.537-5.078 10.537-11.23S18.077 2.22 12.274 2.22z"></path>
                </svg>
			</a>
			<a href="https://www.instagram.com/vista" target="_blank" aria-label="Instagram">
				<svg viewBox="0 0 24 24" aria-hidden="true" width="24" height="24" fill="currentColor">
                    <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.069-4.85.069-3.204 0-3.584-.012-4.849-.069-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069ZM12 0C8.741 0 8.333.014 7.053.072 2.695.272.273 2.69.073 7.052.014 8.333 0 8.741 0 12c0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98C8.333 23.986 8.741 24 12 24c3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98C15.668.014 15.259 0 12 0Zm0 5.838a6.162 6.162 0 1 0 0 12.324 6.162 6.162 0 0 0 0-12.324ZM12 16a4 4 0 1 1 0-8 4 4 0 0 1 0 8Zm6.406-11.845a1.44 1.44 0 1 0 0 2.881 1.44 1.44 0 0 0 0-2.881Z" />
                </svg>
			</a>
            <a href="https://www.youtube.com/@vistacheng" target="_blank" aria-label="YouTube">
				<svg viewBox="0 0 24 24" aria-hidden="true" width="24" height="24" fill="currentColor">
                    <path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/>
                </svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links {
		display: flex;
        gap: 0.5rem;
	}
    .social-links a {
        padding: 0.5em; /* Increase touch target */
        color: var(--black);
    }
    .social-links a:hover {
        color: var(--color-red); /* Hover Red */
    }
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
